extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
	.container.my-3
		include ../../partials/list-btn-users.pug





		.row
			.col-12
				+box-head("Chat")

		.row
			.col-12
				.chat(my-id=user.id)
					.inner-head
						.inner-avatar EY
						.inner-name Em Yêu
					.inner-body
						each chat in chats
							div(class=(chat.infoUser.id == user.id ? 'inner-outgoing' : 'inner-incoming'))
								.inner-name #{chat.infoUser.fullName}
								if(chat.content)
									.inner-content
										| #{chat.content}
								if(chat.images)
									.inner-images
										each image in chat.images
											img(src=image)
						div(class="inner-list-typing")
					.inner-preview-image
						div.custom-file-container(data-upload-id="myUploader" id="myUploader")
							a.custom-file-container__image-clear(href="javascript:void(0)", title="Clear Image")
							label.custom-file-container__custom-file
								input.custom-file-container__custom-file__custom-file-input#uploadInput(type="file", accept="image/*", multiple)
								input(type="hidden", name="MAX_FILE_SIZE", value="10485760")
								span.custom-file-container__custom-file__custom-file-control.d-none
							.custom-file-container__image-preview
					.inner-foot
						form(class="inner-form" action="")
							input(type="text" placeholder="Nhập nội dung..." name="content")
							label.ms-2.me-2(for="uploadInput") 
								<i class="fa-solid fa-image"></i>

							span(class="button-icon btn btn-light mx-2") <i class="fa-regular fa-face-smile"></i>

							button
								i.fa-solid.fa-paper-plane

	div(class="tooltip" role="tooltip")
		emoji-picker(class="light")
	
	block script
		script(type="module" src="/js/chat.js")








